
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
      <intent>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="http" />
      </intent>
    </queries>
  <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.CAMERA"/>

  <application>
    <!-- <uses-library android:name="org.apache.http.legacy" android:required="false"/> -->
    <provider
      android:name="androidx.core.content.FileProvider"
      android:authorities="com.example.plugin.provider"
      android:exported="false"
      android:grantUriPermissions="true">
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS"
          android:resource="@xml/file_paths"></meta-data>
    </provider>
    <activity
      android:name="com.example.lib.MainActivity"
      android:label="LibMain"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" >
        </action>
      </intent-filter>
    </activity>
  </application>
</manifest>
